@use './components/_toggle.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// <a href='https://www.freepik.com/vectors/background'> Background vector created by freepik - www.freepik.com</a>
.theme-light {
  --dark-text: #5E4B56;
  --dark-background: #FCFBF9;
  --light-background: #EDDCD2;
  --button-border: #5E4B56;
  --light-text: #5E4B56;
  --image-background: url("../assets/banner_light.png");
  --text-field: #DAD7CE;
  --generate-button: #aaffb3;
  --hover-button: #7FC8F8;

}

.theme-dark {
  --dark-text: #F5F5F5; /* 292929 */
  --dark-background: #040406;
  --light-background: #586F7C;
  --button-border: #F5F5F5; /* 292929 */
  --light-text: #F9F8F8;
  --image-background: url("../assets/banner_dark.jpg");
  --text-field: #242730;
  --generate-button: #09997a;
  --hover-button: #5AA9E6;

}

html, #root {
  font-family: 'Poppins x', monospace;
  background-color: var(--dark-background);
  color: var(--dark-text);
}

body {    
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  

.app{
  height: 100vh;

  background-image: var(--image-background);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}
